NEXTFI_API_BASE_URL=https://nextfi-backend-lt8o.onrender.com/api/v1
NEXTFI_ENV=production
NEXTFI_NETWORK=public
NEXTFI_FEDERATION_DOMAIN=nextfi.app
NEXTFI_QUICKNODE_URL_MAINNET=
NEXTFI_QUICKNODE_URL_TESTNET=
NEXTFI_SOROBAN_URL_MAINNET=
NEXTFI_SOROBAN_URL_TESTNET=
NEXTFI_FIXER_API_KEY=
NEXTFI_OPEN_EXCHANGE_RATES_APP_ID=
